<?xml version="1.0"?>
<launch>

  <!--   utm_odometry_node -->
<!--   <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" output="screen"> -->
<!--     <remap from="/fix"  to="/gps"/> -->
<!--     <remap from="/odom"    to="/gps_odom"/> -->
<!--     <param name="rot_covariance" value="99999" /> -->
<!--     <param name="frame_id" value="odom" /> -->
<!--     <param name="child_frame_id" value="gps" /> -->
<!--   </node> -->

    <node pkg="farm_nav" type="global_plan_publisher.py" name="global_plan_publisher" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find farm_nav)/rviz_cfg/gps.rviz"/>
</launch> 

